<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".AngkorEchoesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AngkorEchoesPrototype">
        </activity>
    </application>

</manifest>