<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AngKorChatProto" />

        <activity
            android:name=".activity.FeedEditorActivity"
            android:theme="@style/Theme.AngKorChatProto"
            android:exported="true">
        </activity>

        <activity
            android:name=".activity.MediaPickerActivity"
            android:theme="@style/Theme.AngKorChatProto"
            android:exported="false" />

        <activity
            android:name=".activity.NotificationActivity"
            android:theme="@style/Theme.AngKorChatProto"
            android:exported="false" />

        <activity
            android:name=".activity.TagPeopleActivity"
            android:theme="@style/Theme.AngKorChatProto"
            android:exported="false" />

        <activity
            android:name=".activity.CheckInActivity"
            android:theme="@style/Theme.AngKorChatProto"
            android:exported="false" />

        <activity
            android:name=".activity.FeedDetailActivity"
            android:theme="@style/Theme.AngKorChatProto"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activity.FeedActivity"
            android:exported="true"
            android:theme="@style/Theme.AngKorChatProto">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>